body{
    background-color: #17202A; 
}

svg{
    background: #17202A;
    width: 23.09px;
    height: 21.27px;
    margin-right: 5px;
}



.side-menu{
    display: flex;
    flex-direction: column;
    width: 240px;

    a{
        height: 60px;
        width: 250px;
        text-decoration: none;
        position: relative;
        left: 80px;
    }

    .text{
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.015em;
        height: 24px;
        font-family: Helvetica Neue;
    }
}