body{
    background-color: #17202A; 
}


a{
    text-decoration: none;
}

svg{
    background: #17202A;
}

.text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.side-menu{
    display: flex;
    flex-direction: column;
}