body{
    background-color: #17202A; 
}


a{
    text-decoration: none;
}

svg{
    background: #17202A;
    width: 23.09px;
    height: 21.27px;
}

.text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.side-menu{
    display: flex;
    flex-direction: column;
    width: 240px;
}

.side-menu a{
    height: 60px;
    width: 250px;
}